body{font-size: 16px;
}
h1{
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}
#cores{
  background-color: bisque;
  line-height: 30px;
  font-style: italic;
}
.pul{
  background-color: aquamarine;
}
#ye{
  background-color: yellow;
  text-decoration:underline;
}
#red{
  background-color: red;
  text-decoration: line-through;
}
#brown{
  background-color: brown;
  text-decoration: overline;
}
p{
  font-weight: 600;
  font-size: 3em;
}